body {
	background-color: beige;
	font-family: "Sans Serif"; 
}

#container {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 200px;
	height: 300px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 10px 7px 10px;
	background-color: #F5E9DC;
}

.title-text, .author-text, .pages-text, .read-text {
	margin: 0;
}

.title-text {
	margin-top: 5px;
}

.read-button {
	margin-top: auto;
}

.read-button, .remove-button {
	padding: 5px 0px 5px 0px;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 2px 2px 5px black;
}

.read-button {
	background-color: rgb(171, 247, 156);
}

.remove-button {
	background-color: rgb(218, 151, 151);
}

.read-button:hover {
	background-color: rgb(151, 227, 136);
}

.remove-button:hover {
	background-color: rgb(208, 131, 131);;
}

#new-book {
	display: flex;
	justify-content: center;
}

#new-book-button {
	display: flex;
	padding: 10px 20px 10px 20px;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 5px 5px 10px black;
	background-color: rgb(220, 220, 245);
}

#new-book-button:hover {
	background-color: #C8C8EF;
}
